* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #a8dadc;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--black);
  --accent: var(--white);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}




